<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <!-- begin SEO -->
        <title>QIAO Dandan</title>
        <meta property="og:locale" content="en-US">
        <meta property="og:site_name" content="QIAO Dandan / CV">
        <meta property="og:title" content="QIAO Dandan - CV">
        <link rel="canonical" href="https://academicpages.github.io/">
        <meta property="og:url" content="https://academicpages.github.io/">
        <script type="application/ld+json"> { "@context" : "http://schema.org", "@type" : "Person", "name" : "Your Name", "url" : "https://academicpages.github.io", "sameAs" : null } </script> 
        <!-- end SEO -->
        <link href="https://academicpages.github.io/feed.xml" type="application/atom+xml" rel="alternate" title="QIAO Dandan / CV">
        <!-- http://t.co/dKP3o1e -->
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script> document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js '; </script> <!-- For all browsers -->
        <!-- start chatbot theme -->
        <link rel="stylesheet" href="../static/style.css">
        <!-- Google Fonts Link For Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
        <script src="../static/script.js" defer></script>
        <!-- end chatbot theme-->
        <link rel="stylesheet" href="https://academicpages.github.io/assets/css/main.css"><meta http-equiv="cleartype" content="on"> <!-- start custom head snippets -->
        <link rel="stylesheet" href="https://academicpages.github.io/assets/css/main.css">
        <meta http-equiv="cleartype" content="on">
        <!-- start custom head snippets -->
        <link rel="manifest" href="https://academicpages.github.io/images/manifest.json?v=M44lzPylqQ">
        <link rel="shortcut icon" href="/images/favicon.ico?v=M44lzPylqQ">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="msapplication-TileImage" content="https://academicpages.github.io/images/mstile-144x144.png?v=M44lzPylqQ">
        <meta name="msapplication-config" content="https://academicpages.github.io/images/browserconfig.xml?v=M44lzPylqQ">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="https://academicpages.github.io/assets/css/academicons.css"/>
        <!-- Support for MatJax --> 
        <script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script> 
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> 
        <!-- end custom head snippets -->
    </head>
    <body>
        <!--[if lt IE 9]>
        <div class="notice--danger align-center" style="margin: 0;">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
        <![endif]-->
        <div class="masthead">
            <div class="masthead__inner-wrap">
                <div class="masthead__menu">
                <nav id="site-nav" class="greedy-nav">
                    <button>
                        <div class="navicon"></div>
                    </button>
                    <ul class="visible-links">
                        <li class="masthead__menu-item masthead__menu-item--lg"><a href="#">QIAO Dandan</a></li>
                        <li class="masthead__menu-item"><a href="#about">About</a></li>
                        <li class="masthead__menu-item"><a href="#research">Research</a></li>
                        <!-- <li class="masthead__menu-item"><a href="#talks">Talks</a></li> -->
                        <li class="masthead__menu-item"><a href="#teaching">Teaching</a></li>
                        <li class="masthead__menu-item"><a href="#services">Services</a></li>
                        <li class="masthead__menu-item"><a href="#awards">Awards</a></li>
                        <!-- <li class="masthead__menu-item"><a href="#cv">CV</a></li> -->
                    </ul>
                    <ul class="hidden-links hidden"></ul>
                </nav>
                </div>
            </div>
        </div>
        <div id="main" role="main">
            <div class="sidebar sticky">
                <div itemscope itemtype="http://schema.org/Person">
                <div class="author__avatar"> <img src="https://www.comp.nus.edu.sg/stfphotos/qiaodd.jpg" class="author__avatar" alt="Your Sidebar Name"></div>
                <div class="author__content">
                    <h3 class="author__name">QIAO Dandan</h3>
                    <p class="author__bio">Personal Information</p>
                </div>
                <div class="author__urls-wrapper">
                    <button class="btn btn--inverse">Follow</button>
                    <ul class="author__urls social-icons">
                        <!-- Font Awesome icons / Biographic information -->
                        <li class="author__desktop"><a href="https://www.google.com/maps/place/COM+2/@1.2942824,103.7741012,15z/data=!4m6!3m5!1s0x31da1af8b4dca745:0x138ac77cdd89a8f1!8m2!3d1.2942824!4d103.7741012!16s%2Fg%2F11c6lw2s04?entry=ttu"><i class="fa-solid fa-location-dot icon-pad-right" aria-hidden="true"></i>COM2-04-15</a></li>
                        <li class="author__desktop"><a href="https://www.comp.nus.edu.sg/disa/people/qiaodd/"><i class="fa fa-solid fa-building-columns icon-pad-right" aria-hidden="true"></i>School Page</a></li>
                        <li><a href="mailto:none@example.org"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>qiaodd@nus.edu.sg</a></li>
                        <!-- Font Awesome and Academicons icons / Academic websites -->
                        <li><a href="https://scholar.google.com/citations?user=2ESyqbEAAAAJ&hl=en"><i class="ai ai-google-scholar icon-pad-right"></i>Google Scholar</a></li>
                    </ul>
                </div>
                </div>
            </div>
            <!-- Home section -->
            <article class="page" id="about">
                <h1 class="page__title">About Me</h1>
                <section>
                    <h2>&#8227; Position</h2>
                    <ul>
			<li>Associate Professor, Information Systems & Analytics
                            National University of Singapore,  2024.07-Present</li>
                        <li>Assistant Professor, Information Systems & Analytics
                            National University of Singapore,  2018.07-2024.06</li>
                    </ul>
                </section>
                <section>
                    <h2>&#8227; Education</h2>
                    <ul>
                        <li>Ph.D., Information Systems, Tsinghua University, 2018</li>
                        <li>Visiting Scholar, Information Systems, The University of Texas at Austin, 2015.08-2017.09</li>
                        <li>B.S., Information Systems, Beijing University of Posts and Telecommunications, 2012</li>
                    </ul>
                </section>
                <section>
                    <h2>&#8227; Research Interests</h2>
                    <p><b>Topics</b>: AI and Business Application, Computatioinal Social Science, Digital Platform Design</p>
                    <p><b>Methodologies</b>: Computational Methods, Econometric Analysis, Field Experiments</p>
                </section>
            </article>

            <!-- Publications section-->
            <div class="archive" id="research">
                <h1 class="page__title">Research</h1> <fn value="5">* Authors are ordered alphabetically</fn>
                <section>
                    <h2>&#8227; Working Paper</h2>
                    <ul>                 
                        <li>Gang Li, <b>Dandan Qiao</b>, Mingxuan Zheng. <a href="https://arxiv.org/abs/2512.19484"> "Structured Event Representation and Stock Return Predictability"</a>. <i>Working paper</i>. </li>
						<li>Haoyu Yuan, <b>Dandan Qiao</b>, Qiang Wei. <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4658668"> "Decoding Persuasion: A Hierarchical Framework for Predicting Crowdfunding Success"</a>. <i>Working paper</i>. </li>
						<li>Jingyuan Deng, <b>Dandan Qiao</b>, Warut Khern-am-nuai. <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4403949"> "Exploring the Impact of Incentivized Reviews on Product Sales and the Role of Review Inconsistency"</a>. <i>Working paper</i>. </li>
						<li>Jingyuan Deng, Grace Gu, <b>Dandan Qiao</b>. <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=5045860"> "Unraveling the Role of Public Crowds in Driving Innovation for Technology Product Development"</a>. <i>Working paper</i>. </li>
						<li>Tong Yang, <b>Dandan Qiao</b>, Xinxin Li. <a> "Should We Estoppel? Exploring the Effects of Prohibiting Review Deletion"</a>. <i>Working paper</i>. </li>
						<li>Qian Xiong, Mingxuan Zheng, <b>Dandan Qiao</b>, Jingjing Li. <a> "Understanding the Impact of Brand Social Media Activism on Product Sales"</a>. <i>Working paper</i>. </li>    
						<li>Dinghao Xi, Ying Lu, <b>Dandan Qiao</b>, Wei He. <a> "Unveiling the Secrets of Collaboration on Online Video-Sharing Platforms"</a>. <i>Working paper</i>. </li>    
						
                    </ul>
                </section>
                <section>
                    <h2>&#8227; Journal Publications</h2>
                    <ul>
						<li>Jinghui Zhang, Mochen Yang, <b>Dandan Qiao</b>, Qiang Wei. <a href="https://arxiv.org/abs/2407.12835"> "Regurgitative Training: The Value of Real Data in Training Large Language Models"</a>.<i>Management Science</i>, Forthcoming.</li>
						<li>*<b>Dandan Qiao</b>, Huaxia Rui, Qian Xiong. <a href="https://arxiv.org/abs/2312.04180"> "AI and Jobs: Has the Inflection Point Arrived? Evidence from an Online Labor Platform"</a>. <i>Journal of Management Information Systems</i>, Forthcoming.</li>
						<li>Ying Lu, <b>Dandan Qiao</b>, Shu He, Bernard C Y Tan, “How Search Technology Breeds Illegal Transactions: Empirical Evidence from the Darknet”,<i>Management Science</i>, Forthcoming.</li>
                        <li>Lin Qiu, <b>Dandan Qiao</b>, Bernard CY Tan, and Andrew B. Whinston (2024). <a href="https://journals.sagepub.com/doi/abs/10.1177/10591478231224944"> "Leading the Horse to Water? Investigating the Impact of Ride-hailing Services on Hate Crimes"</a>, <i>Production and Operations Management</i>, 33(1), 342-363.</li>
                        <li>Warut Khern-am-nuai, Hossein Ghasemkhani, <b>Dandan Qiao</b>, Karthik Natarajan Kannan. 2024. <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2794149">“The Impact of Online Q&As on Product Sales: The Case of Amazon Answer”</a>, <i>Information Systems Research</i>, 35(2), 747-765. </li>
                        <li>*Jason Chan, Shu He, <b>Dandan Qiao</b>. 2024. Andrew B. Whinston. <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3468426">“Shedding Light on the Dark: The Impact of Legal Enforcement on Darknet Transactions”</a>, <i>Information Systems Research</i>, 35(1), 145-164.</li>
                        <li><b>Dandan Qiao</b>, & Huaxia Rui. 2023. <a href="https://pubsonline.informs.org/doi/abs/10.1287/isre.2022.1146">“Text Performance on the Vine Stage? The Effect of Incentive on Product Review Text Quality”</a>. <i>Information Systems Research</i>, 34(2), pp.676-697.</li>
                        <li><b>Dandan Qiao</b>, Shun-Yang Lee, Andrew B. Whinston, Qiang Wei, 2021. <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3954687">“Mitigating the Adverse Effect of Monetary Incentives on Voluntary Contributions Online”</a>. <i>Journal of Management Information Systems</i>, 38(1), pp.82-107.</li>
                        <li><b>Dandan Qiao</b>, Shun-Yang Lee, Andrew B. Whinston, Qiang Wei, 2020. <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3683253">“Financial
                            Incentives Dampen Altruism in Online Prosocial Contributions: A Study of Online
                            Reviews”</a>. <i>Information Systems Research</i>, 31(4), pp.1361-1375.</li>
                        <li>Liye Wang, Jin Zhang, Guoqing Chen, <b>Dandan Qiao</b>, 2020. <a href="https://doi.org/10.1016/j.dss.2020.113465">“Identifying Comparable Entities with Indirectly Associative Relations and Word Embeddings from Web
                            Search Logs”</a>. <i>Decision Support Systems</i>, p.113465.</li>
                        <li>Xunhua Guo, Qiang Wei, Guoqing Chen, Jin Zhang, <b>Dandan Qiao</b>, 2017. <a href="https://misq.umn.edu/extracting-representative-information-on-intra-organizational-blogging-platforms.html">“Extracting Representative Information on Intra-Organizational Blogging Platforms”</a>. <i>MIS Quarterly</i>, 41(4), pp.1105-1127.</li>
                        <li><b>Dandan Qiao</b>, Jin Zhang, Qiang Wei, Guoqing Chen, 2017. <a href="https://www.sciencedirect.com/science/article/abs/pii/S0378720616303330">“Finding Competitive
                            Keywords from Query Logs to Enhance Search Engine Advertising”</a>. <i>Information &
                            Management</i>, 54(4), pp.531-543.</li>
                        <li>Qiang Wei, <b>Dandan Qiao</b>, Jin Zhang, Guoqing Chen, Xunhua Guo, 2016. <a href="https://dl.acm.org/doi/10.1145/2996196">“A Novel
                            Bipartite Graph based Competitiveness Degree Analysis from Query Logs”</a>. <i>ACM
                            Transactions on Knowledge Discovery from Data (TKDD)</i>, 11(2), pp.1-25</li>
                    </ul>
                </section>

                <section>
                    <h2>&#8227; Conference Publications</h2>
                    <ul>
			<li>Haoyu Yuan, <b>Dandan Qiao</b>, Qiang Wei, “When Crowdfunding Meets InDemand: A Dynamic Analysis Using Hidden Markov Model, ” <i>International Conference on Information Systems</i> (ICIS), Bangkok, Thailand, 2024.</li>
                        <li>Dinghao Xi, Ying Lu, <b>Dandan Qiao</b>, Wei Xu, “Unveiling the Secrets of Collaboration on Video-Sharing Platforms” <i>International Conference on Information Systems</i> (ICIS), Hyderabad, India, 2023.</li>
                        <li>Dinghao Xi, Ying Lu, <b>Dandan Qiao</b>, Wei Xu, “Unveiling the Secrets of Collaboration on Video-Sharing Platforms” INFORMS Conference on <i>Information Systems and Technology</i> (CIST), Arizona, United States, 2023.</li>
                        <li>Haoyu Yuan, <b>Dandan Qiao</b>, Qiang Wei, “Decoding Persuasion: A Hierarchical Deep Learning Framework for Predicting Crowdfunding Success, ” <i>INFORMS Workshop on Data Science</i> (WDS), Arizona, United States, 2023.</li>
                        <li>Jingyuan Deng, <b>Dandan Qiao</b>, Warut Khern-Am-Nuai, “An Empirical Study about
                            the Impact of Incentivized Reviews on Product Sales: The Case of Amazon Vine Program” The 16th China Summer Workshop on Information Management (CSWIM),
                            Changsha, China, 2023.</li>
                        <li>Ying Lu, <b>Dandan Qiao</b>, Shu He, Xiaoying Xu, Bernard C Y Tan, “Exploration or
                            Solidification: Modeling Users’ Dynamics of Collusive Behavior in Decentralized Online Communities” The 16th China Summer Workshop on Information Management
                            (CSWIM), Changsha, China, 2023.</li>
                        <li>Tong Yang, Benjiang Lu, <b>Dandan Qiao</b>, “The Impact of Vehicle Purchase Tax: A
                            Construal Level Analysis of Consumer Reviews” The annual Pacific Asia Conference
                            on Information Systems (PACIS), Nanchang, China, 2023</li>
                        <li>Ying Lu, <b>Dandan Qiao</b>, Shu He, Bernard C Y Tan, “Secrets of Bellwethers: The
                            Effect of Search Intermediary on Market Structure and Vendor Strategy in Darknet,”
                            <i>INFORMS Conference on Information Systems and Technology</i> (CIST), Indianapolis,
                            United States, 2022.</li>
                        <li>Jingyuan Deng, Grace Gu, <b>Dandan Qiao</b>, “Wisdom Overlooked: Spillover Effects
                            of Firm-Driven Contest on User Innovation and Crowd Education,” <i>INFORMS Conference on Information Systems and Technology</i> (CIST), Indianapolis, United States,
                            2022.</li>
                        <li>Jingyuan Deng, Grace Gu, <b>Dandan Qiao</b>, “Whom to Listen to and When? Empirically Studying User Innovation over Product Development Life Cycle,” <i>Seventeenth
                            Symposium on Statistical Challenges in Electronic Commerce Research</i> (SCECR),
                            Madrid, Spain, June 2022.</li>
                        <li>Jingyuan Deng, Grace Gu, <b>Dandan Qiao</b>, “Whom to Listen to and When? Empirically Studying User Innovation over Product Development Life Cycle,” <i>Strategic
                            Management Society</i> (SMS), London, UK, 2022.</li>
                        <li>Lin Qiu, <b>Dandan Qiao</b>, Bernard C Y Tan, Andrew B. Whinston, “More than a
                            Ride: An Investigation on Ride-Hailing Services and Racial Hate Crimes,” <i>Sixteenth
                            Symposium on Statistical Challenges in Electronic Commerce Research</i> (SCECR),
                            Madrid, Spain, June 2020.</li>
                        <li>Jason Chan, Shu He, <b>Dandan Qiao</b>, Andrew B. Whinston, “Shedding Light on the
                            Dark: The Impact of Legal Enforcement on Darknet Transactions,” <i>Workshop on
                            Information Systems and Economics</i> (WISE), Munich, Germany, December 2019.</li>
                        <li><b>Dandan Qiao</b>, Shun-Yang Lee, Andrew B. Whinston, Qiang Wei, “Overcoming the
                            Crowding-Out Effect of Monetary Incentive on Pro-Social Behavior,” <i>International
                            Conference on Information Systems</i>, Seoul, South Korea, December 2017.</li>
                        <li><b>Dandan Qiao</b>, “Applying Financial Incentives in Online Pro-social Contexts: Crowdingout Effects and Overcoming Strategies,” <i>International Conference on Information
                            Systems Doctoral Consortium</i>, Seoul, South Korea, December 2017.</li>
                        <li><b>Dandan Qiao</b>, Shun-Yang Lee, Andrew B. Whinston, Qiang Wei, “Crowding-Out
                            Effect Mitigation through Intervention Strategies,” <i>INFORMS Conference on Information Systems and Technology</i> (CIST), Houston, TX, October 2017.</li>
                        <li>Samuel L. Blazek, <b>Dandan Qiao</b>, Andrew B. Whinston Guoqing Chen, “Dark Net
                            Markets: Protect Your Privacy in Future E-commerce,” <i>Workshop on Information
                            Systems and Economics</i> (WISE), Seoul, South Korea, December 2017.</li>
                        <li>Samuel L. Blazek, <b>Dandan Qiao</b>, Deepayan Chakrabarti, Andrew B. Whinston,
                            “The Price of Privacy: Insights from Anonymous Marketplace,” <i>Annual Digital Information Policy Scholars Conference</i>, George Mason University, Arlington, VA, April
                            2017.</li>
                        <li><b>Dandan Qiao</b>, Shun-Yang Lee, Andrew B. Whinston, Qiang Wei, “Incentive Provision and Pro-Social Behaviors,” <i>Hawaii International Conference on System Sciences</i>
                            (HICSS), Big Island, HI, January 2017.</li>
                        <li><b>Dandan Qiao</b>, Shun-Yang Lee, Andrew B. Whinston, Qiang Wei, “Incentive Provision and Pro-Social Behaviors,” <i>INFORMS Conference on Information Systems and
                            Technology</i> (CIST), Nashville, TN, November 2016.</li>
                        <li><b>Dandan Qiao</b>, Jin Zhang, “A Novel Keyword Suggestion Method to Achieve Competitive Advertising on Search Engines,” The Pacific Asia Conference on Information
                            Systems (PACIS), Singapore, July 2015.</li>
                        <li><b>Dandan Qiao</b>, Qiang Wei, Jin Zhang, Guoqing Chen, “A Bipartite Graph Based
                            Competitiveness Degrees Analysis with Query Logs on Search Engine,” <i>Conference
                            of the International Fuzzy Systems Association and the European Society for Fuzzy
                            Logic and Technology</i> (IFSA-EUSFLAT), Gij´on, Spain, June 2015.</li>
                </ul>
                </section>
            </div>

            <!-- Talks section -->
            <!--
            <div class="archive" id="talks">
                <h1 class="page__title">Invited Talks</h1>
                <ul>
                    <li>School of Information, Renmin University of China, 2023</li>
                    <li>School of Business, University of Hong Kong, 2021</li>
                    <li>School of Economics and Management, Tsinghua University, 2020</li>
                    <li>School of Business, Indiana University Bloomington, 2017</li>
                    <li>School of Business, Nanyang Technological University, 2017</li>
                    <li>Claremont Graduate University, 2017</li>
                </ul>
            </div>
            -->

            <!-- Teaching section -->
            <div class="archive" id="teaching">
                <h1 class="page__title">Teaching</h1>
                <section>
                    <h2>&#8227; Teaching Interests</h2>
                    <ul>
                        <li>Business Analytics</li>
                        <li>Platform Design</li>
                        <li>Computational Social Science</li>
                    </ul>
                    <h2>&#8227; Class Instructor / Teaching Assistant</h2>
                    <ul>
                        <li>Computational Social Science (IS6006), PhD lelvel, National University of Singapore </li>
                        <li>Mining Business Insights from Web Data (BT4222), Undergraduate lelvel, National University of Singapore </li>
                        <li>Analytics Driven Design of Adaptive Systems (BT4014), Undergraduate lelvel, National University of Singapore </li>      
                    </ul>
                    <!-- 
                    <h2>Supervised Ph.D. Students</h2>
                    <ul>
                        <li>Ying Lu, National University of Singapore, Placement: IE University in Spain</li>
                        <li>Yiming Liu, National University of Singapore, 4th-year</li>
                        <li>Jingyuan Deng, National University of Singapore, 3rd-year</li>
                        <li>Tong Yang, Dalian University of Technology, Placement: The Hong Kong Polytechnic University</li>
                        <li>Dinghao Xi, Renmin University of China, Placement: Shanghai University of Finance and Economics</li>
                        <li>Qian Xiong, Tsinghua University, 5th-year</li>
                        <li>Haoyu Yuan, Tsinghua University, 6th-year</li>
                    </ul>
 		-->
					
                </section>
            </div>

            <!-- Portfolio section -->
            <div class="archive" id="services">
                <h1 class="page__title">Services</h1>
                <h2>&#8227; Department/School/University Service</h2>
                    <ul>
                        <li>Deputy Director, Centre for Computational Social Science and Humanities (https://cssh.nus.edu.sg/), NUS, 2024 March - Present</li>
                        <li>Ph.D. coordinator, Department of Information Systems and Analytics, NUS, 2023 Jan - Present</li>
                        <li>MComp IS committee member, Department of Information Systems and Analytics, NUS, 2020-2022</li>
                    </ul>
                <h2>&#8227; Editorship of Journals/Conferences</h2>
                <ul>
                    <li>Associate Editor at Management Science, 2026-Present</li>
					<li>Associate Editor at MIS Quarterly, 2026-Present</li>	
					<li>Editorial Review Board Member of Information Systems Research, 2024-2025</li>
                    <li>Associate Editor for Special Issue (AI-IA Nexus) of MIS Quarterly </li>	
                    <li>Cluster Chair for eBusiness Community of INFORMS Annual Meeting, 2024</li>
                    <li>Co-organizer of Feeder Workshop for Workshop on Information Technologies and Systems, 2024</li>
                    <li>Track Co-Chair for Pacific Asia Conference on Information Systems, 2023</li>
                    <li>Track Associate Editor for International Conference on Information Systems, 2024, 2023, 2022, 2021, 2020, 2019</li>
                    <li>Track Associate Editor for Pacific Asia Conference on Information Systems, 2024, 2022, 2021, 2020</li>
                </ul>                
		<h2>&#8227; Referee for Journals</h2>
                <ul>
                    <li>Management Science (MS)</li>
                    <li>Information Systems Research (ISR)</li>
                    <li>MIS Quarterly (MISQ)</li>
                    <li>INFORMS Journal on Computing (JOC)</li>
                    <li>Journal of Management Information Systems (JMIS)</li>
                    <li>Production and Operations Management (POM)</li>
                    <li>Journal of the Association for Information Science and Technology (JAIST)</li>
                </ul>
                <h2>&#8227; Referee for Conferences</h2>
                <ul>
                    <li>International Conference on Information Systems (ICIS)</li>
                    <li>Conference on Information Systems and Technology (CIST)</li>
                    <li>Hawaii International Conference on System Sciences (HICSS)</li>
                    <li>Workshop on Information Technologies and Systems (WITS)</li>
                    <li>Pacific Asia Conference on Information Systems (PACIS)</li>
                    <li>China Summer Workshop on Information Management (CSWIM)</li>
                </ul>
            </div>

            <!-- Blog posts section -->
            <div class="archive" id="awards">
                <h1 class="page__title">Honors, Awards, and Grants</h1>
                <h2>&#8227; Grants</h2>
                <ul>
		    		<li>Ministry of Education Academic Research Fund Tier-2, S$607,050, 2025.06 ~ 2028.06</li>
                    <li>Ministry of Education Academic Research Fund Tier-1, S$180,000, 2024.01 ~ 2026.12</li>
                    <li>Ministry of Education Academic Research Fund Start-up</li>
                    <li>NET Institute Summer Grant, Summer 2019</li>
                </ul>
                <h2>&#8227; Awards</h2>
                <ul>
		    		<li>Robert Brown Promising Researcher Award, 2025</li>
					<li>AIS Early Career Award, 2024</li>
                    <li>INFORMS ISS Gordon Davis Young Scholar Award, 2023</li>
                    <li>Nomination for Singapore Young Scientist Awards, 2022</li>
                    <li>17th Beijing Philosophy and Social Sciences Outstanding Achievement Awards, 2019</li>
                    <li>Excellent Graduate of Beijing, 2018, 2012</li>
                    <li>Excellent Doctoral Thesis, 2018</li>
                    <li>China National Scholarship, 2016, 2009</li>
                    <li>Tsinghua-Jiangzhen Scholarship, 2015, 2014</li>
                </ul>
            </div>

            <!-- CV section 
            <div class="archive" id="cv">
                <head>
                    <meta charset="utf-8">
                    <title>Download CV</title>
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <h1>CV</h1>
                <a href="../Dandan.pdf" download="Dandan.pdf">Download CV</a>
    
            </div>
            -->

        <!-- Chatbot -->
        <div class="chatbot-container">
            <button class="chatbot-toggler">
                <span class="material-symbols-rounded">mode_comment</span>
                <span class="material-symbols-outlined">close</span>
            </button>
            <span class="chatbot-label">Chat with me!</span>
            <div class="chatbot">
                <header>
                    <h2>Chatbot</h2>
                    <span class="close-btn material-symbols-outlined">close</span>
                </header>
                <ul class="chatbox">
                    <li class="chat incoming">
                        <span class="material-symbols-outlined">smart_toy</span>
                        <p>Hi there 👋<br>How can I help you today?</p>
                    </li>
                </ul>
                <div class="chat-input">
                    <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
                    <span id="send-btn" class="material-symbols-rounded">send</span>
                </div>
            </div>
        </div>

        <script src="https://academicpages.github.io/assets/js/main.min.js"></script> 
        <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', '', 'auto'); ga('send', 'pageview'); </script>
    </body>
</html>
